# Authors: see AUTHORS.md at project root.
# CopyPolicy: released under the terms of the LGPLv2.1, see LICENSE at project root.
# URL: https://github.com/asrob-uc3m/yarp-devices

version: appveyor.{build}

image: Visual Studio 2015

configuration: Release

environment:
  global:
    ACE_VC_SLN: ACE_wrappers_vc14.sln

  matrix:
    - platform: Win32
      cmake_generator: Visual Studio 14 2015
      system_arch: x86

    - platform: x64
      cmake_generator: Visual Studio 14 2015 Win64
      system_arch: x64

cache:
  - C:\ACE
  - C:\YARP

branches:
  except:
  - /^.*travis.*$/

init:
  # Dependency version tags
  - cmd: set ACE_LATEST=6.4.6
  - cmd: set YARP_LATEST=2.3.72
  - cmd: set GTEST_LATEST=1.8.0

  # Download/clone paths and URLs
  - cmd: set DOWNLOADS_PATH=C:\downloads
  - cmd: set ACE_DOWNLOAD_URL=http://download.dre.vanderbilt.edu/previous_versions/ACE-%ACE_LATEST%.zip
  - cmd: set YARP_DOWNLOAD_URL=https://github.com/robotology/yarp/archive/v%YARP_LATEST%.zip
  - cmd: set GTEST_DOWNLOAD_URL=https://github.com/google/googletest/archive/release-%GTEST_LATEST%.zip

  # Configure git for use by YCM
  - cmd: git config --global user.email "user@example.com"
  - cmd: git config --global user.name "Travis CI"

  # Print some useful informations:
  - cmd: set
  - cmd: cmake --version
  - cmd: msbuild /version

install:
  # Create folders
  - cmd: md %DOWNLOADS_PATH%

  # Download and build ACE (if not in cache)
  - ps: >-
        if (
            (Test-Path -Path C:\ACE -PathType Container) -And
            (Test-Path -Path C:\ACE\.version -PathType Leaf) -And
            (Get-Content C:\ACE\.version | Where-Object { $_.Equals("$env:ACE_LATEST") })
        ) {
            Write-Host "ACE found in cache ($env:ACE_LATEST)"
        } else {
            Write-Host "ACE not in cache or version mismatch, running download and build step..."
            Write-Host "Downloading $env:ACE_DOWNLOAD_URL"
            Start-FileDownload "$env:ACE_DOWNLOAD_URL" -FileName "$env:DOWNLOADS_PATH\ace.zip"
            7z x -y -o"$env:DOWNLOADS_PATH" "$env:DOWNLOADS_PATH\ace.zip"
            Add-Content "$env:DOWNLOADS_PATH\ACE_wrappers\ace\config.h" "#include `"ace/config-win32.h`""
            msbuild "$env:DOWNLOADS_PATH\ACE_wrappers\$env:ACE_VC_SLN" /m /v:m
            Write-Host "Copying selected contents of $env:DOWNLOADS_PATH\ACE_wrappers to C:\ACE"
            robocopy "$env:DOWNLOADS_PATH\ACE_wrappers\ace" C:\ACE\ace /e /xd "$env:DOWNLOADS_PATH\ACE_wrappers\ace\$env:CONFIGURATION" /ns /nc /nfl /ndl /njh
            xcopy "$env:DOWNLOADS_PATH\ACE_wrappers\lib" C:\ACE\lib /e /i /y /q
            Set-Content C:\ACE\.version "$env:ACE_LATEST"
        }
  - cmd: set ACE_ROOT=C:\ACE
  - cmd: set PATH=%ACE_ROOT%\lib;%PATH%

  # Download and build YARP (if not in cache)
  - ps: >-
        if (
            (Test-Path -Path C:\YARP -PathType Container) -And
            (Test-Path -Path C:\YARP\.version -PathType Leaf) -And
            (Get-Content C:\YARP\.version | Where-Object { $_.Equals("$env:YARP_LATEST") })
        ) {
            Write-Host "YARP found in cache ($env:YARP_LATEST)"
        } else {
            Write-Host "YARP not in cache or version mismatch, running download and build step..."
            Write-Host "Downloading $env:YARP_DOWNLOAD_URL"
            Start-FileDownload "$env:YARP_DOWNLOAD_URL" -FileName "$env:DOWNLOADS_PATH\yarp.zip"
            7z x -y -o"$env:DOWNLOADS_PATH" "$env:DOWNLOADS_PATH\yarp.zip"
            $env:yarp_temp = "$env:DOWNLOADS_PATH\yarp-$env:YARP_LATEST"
            cmake -H"$env:yarp_temp" -B"$env:yarp_temp\build" -G"$env:CMAKE_GENERATOR" -DCMAKE_INSTALL_PREFIX:PATH=C:\YARP
            cmake --build "$env:yarp_temp\build" --config "$env:CONFIGURATION" --target INSTALL -- /m /v:m
            Set-Content C:\YARP\.version "$env:YARP_LATEST"
        }
  - cmd: set YARP_DIR=C:\YARP\CMake
  - cmd: set PATH=C:\YARP\bin;%PATH%

  # Download googletest
  - cmd: echo Downloading %GTEST_DOWNLOAD_URL%
  - cmd: appveyor DownloadFile "%GTEST_DOWNLOAD_URL%" -FileName "%DOWNLOADS_PATH%\gtest.zip"
  - cmd: 7z x -y -o"%DOWNLOADS_PATH%" "%DOWNLOADS_PATH%\gtest.zip"
  - cmd: set GTEST_ROOT=%DOWNLOADS_PATH%\googletest-release-%GTEST_LATEST%

before_build:
  - cmd: echo %PATH%
  - cmd: echo Configuring project %APPVEYOR_PROJECT_NAME%
  - cmd: cmake -H"%APPVEYOR_BUILD_FOLDER%" -B"%APPVEYOR_BUILD_FOLDER%\build" -G"%CMAKE_GENERATOR%" -DCMAKE_INSTALL_PREFIX:PATH="%APPVEYOR_BUILD_FOLDER%\install"

build:
  project: build\ASROB_YARP_DEVICES.sln
  parallel: false
  verbosity: minimal
